@use '../../utils/variables';

.sign-in-up {
    width: 50%;
    margin: auto;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    &--infos {
        display: flex;
        &-name {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            margin: auto;
            padding: 1rem;
        }
        &-error {
            padding-top: 1rem;
            text-align: center;
            color: variables.$error-color;
        }
    }
    &--data {
        width: 100%;
        margin: auto;
    }
    &--user-register {
        color: variables.$darkest-color;
        &:hover {
            color: variables.$main-color;
        }
    }
}

.send-login {
    border: 3px solid variables.$main-color;
    width: 80%;
    margin: 2rem auto auto auto;
    padding: 1rem;
    &:hover {
        background-color: variables.$main-color;
    }
}

.forgot {
    font-size: 1.5rem;
    color: variables.$darkest-color;
    margin: 1rem 1rem 1rem 0;
    &:hover {
        color: variables.$main-color;
        cursor: pointer;
    }
}

