$main-color: #F5FA12;
$main-color-transparent: rgba(246, 250, 20, 0.5);
$background: #E5E5E5;
$darker-color: rgb(211, 211, 211);
$darkest-color: #A9A9A9;
$font: 'Bebas Neue', cursive;
$error-color: #B22222;