@use '../../utils/variables';

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: .5rem;
    padding: .5rem;
    & > button {
       border: 3px solid variables.$main-color;
       text-align: left;
       font-family: variables.$font;
       margin: 1rem;
       padding: .3rem 1rem .3rem 1rem;
        &:hover {
            cursor: pointer;
            background-color: variables.$main-color;
        }
    }
}